.form-custom {
    border: 2px solid white; /* Đặt viền trắng */
    border-radius: 10px; /* Làm viền bo tròn */
    padding: 20px; /* Tạo khoảng cách bên trong form */
    background-color: rgba(255, 255, 255, 0.1); /* Tạo hiệu ứng trong suốt */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng để nổi bật */
    width: 900px;
  }
  
  
  /* Đặt viền trắng và phong cách nổi bật cho bảng */
  .table-custom {
    border: 2px solid white; /* Đặt viền trắng */
    border-radius: 10px; /* Làm viền bo tròn */
    padding: 20px; /* Tạo khoảng cách bên trong form */
    background-color: rgba(255, 255, 255, 0.1); /* Tạo hiệu ứng trong suốt */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng để nổi bật */
    width: 900px;
  }

  .g-4 {
    background-color: white;
  }
  
 /* Di chuyển bảng và form sang phải */
.ml-auto {
    margin-left: 330px; /* Tạo khoảng cách bên trái để đẩy sang phải */
    margin-right: 0;   /* Không cần khoảng cách bên phải */
  }
  
  /* Di chuyển xuống dưới */
  .table-custom, .form-custom {
    margin-top: 20px;  /* Tạo khoảng cách phía trên bảng */
  }

  .mb-3 {
    margin-top: 100px;
  }

  /* Chỉnh lại button spacing */
  .button-group button {
    margin-right: 10px; /* Tạo khoảng cách giữa các nút */
  }
  
.userProfile {
    font-size: 13px;
}
  

  